{{ define "main" }}

{{ .Content }}

<div class="spacer"></div>


<div class="outer">
  <div class="wrapper">
{{ range $index, $element := where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{ $imgpath := path.Join .Dir .Params.image }}
      {{ $contentid := .UniqueID }}
      {{ $title := .Title }}
      {{ $link := .Permalink}}
      {{ $onebasedindex := add $index 1}}

      {{if (modBool $index 2)}}
         <div class="line2 line">
         </div>
      {{ end }}
      {{if (modBool $index 4)}}
         <div class="line4 line"></div>
      {{ end }}
      {{if (modBool $index 6)}}
         <div class="line6 line"></div>
      {{ end }}
      {{if (modBool $index 8)}}
         <div class="line8 line"></div>
      {{ end }}

      {{ with .Params.image }}
          {{ if fileExists $imgpath }}
              {{ with resources.Get $imgpath }}
                  {{ $thumb := (.Fill "600x400").RelPermalink }}
                  <div>
                  <a href="{{ $link }}">
                    <img src="{{ $thumb }}">
                    <div>{{$onebasedindex}}</div>
                    {{ $title }}</a>
                  </div>
                  {{ end }}
          {{ end }}
      {{ end }}

{{ end }}
    <div class="line line-always"></div>
  </div>
</div>


{{ end }}
