<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="max-age=600, must-revalidate">

  {{ if site.Params.schema }}{{ template "_internal/schema.html" . }}{{ end }}
  {{ if site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }}
  {{ if site.Params.twittercards }}{{ template "_internal/twitter_cards.html" . }}{{ end }}
  <title>
    {{ if eq .Title site.Title }}
    {{ site.Title }}
    {{ else }}
    {{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}
    {{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ resources.Get "css/base.temp.css" | resources.ExecuteAsTemplate "css/base.css" . | minify | fingerprint | .Page.Scratch.SetInMap "css" "base" }}
  {{ resources.Get "js/mobilescroll.temp.js" | resources.ExecuteAsTemplate "js/mobilescroll.js" . | minify | fingerprint | .Page.Scratch.SetInMap "js" "mobilescroll" }}

  {{ block "loadshortcodes" . }}{{ with .Content }}{{ end }}{{ end }}
  {{ range .Scratch.GetSortedMapValues "css" }}
  <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  {{ range .Scratch.GetSortedMapValues "js" }}
  <script defer src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
  {{ block "in_header" . }}{{ end }}
</head>

<body>
  {{ partialCached "banner.html" . }}

  <main>

    {{ block "main" . }}{{ end }}

  </main>
  {{ block "after_main" . }}{{ end }}
  {{ partialCached "footer.html" . }}
  <!-- <button onclick="topFunction()" id="scrollToTopBtn" title="Back to Top">Back to Top</button> -->
</body>

</html>