{{ define "main" }}


{{ .Content }}

<div class="spacer"></div>


<div class="outer">
  <div class="wrapper">
     <div class="line"></div>
{{ range $index, $element := where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{ $imgpath := path.Join .File.Dir .Params.image }}
      {{ $contentid := .File.UniqueID }}
      {{ $title := .Title }}
      {{ $link := .Permalink}}
      {{ with .Params.image }}
          {{ if fileExists $imgpath }}
              {{ with resources.Get $imgpath }}
                  {{ $thumb := (.Fill "600x400").RelPermalink }}
                  <div>
                    <img src="{{ $thumb }}">
                    <div>{{$index}}</div>
                    <a href="{{ $link }}">{{ $title }}</a>
                  </div>
                  {{ end }}
          {{ end }}
      {{ end }}
      {{if (eq $index 6)}}
         <div class="line"></div>
      {{ end }}
{{ end }}
    <div class="line"></div>
  </div>
</div>


{{ end }}
